.cq_mysilde img {
    max-width: 100%; /* 图片宽度最大为父容器的 100% */
    max-height: 300px; /* 限制图片的最大高度为 300px */
    width: auto; /* 保持宽高比例 */
    height: auto; /* 保持宽高比例 */
    object-fit: contain; /* 确保图片在容器内完整显示 */
}

#cq_slide {
    position: absolute; /* 绝对定位 */
    right: 0;          
    top: 50%;           
    transform: translateY(-50%); 
    width: 300px;       
    height: auto;       
    background-color: rgba(211, 211, 211, 0.8);
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.prev {
    top: 10%;
}

.next {
    bottom: 10%;
}

